.section_about__container {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.section_about__container_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container_text__heading {
  display: flex;
  flex-direction: column;
}

.container_text__heading01 {
  font-family: var(--font-brittany-signature);
  color: var(--pink-colour);
  font-size: var(--text-8xl-font-size);
  line-height: var(--text-5xl-line-height);
  z-index: 5;
  margin-bottom: -2.25rem;
}

.container_text__heading02 {
  font-family: var(--font-bebas-neue);
  font-size: var(--text-9xl-font-size);
  line-height: var(--text-5xl-line-height);
  z-index: 4;
}

.container_text__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 60ch;
  text-align: justify;
}

.section_about__container_image {
  background-image: url("/images/gabi.png");
  width: 21.875rem;
  height: 21.875rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid var(--pink-colour);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

@media (max-width: 1042px) {
  .container_text__heading01 {
    font-size: var(--text-7xl-font-size);
    margin-bottom: -1.75rem;
  }

  .container_text__heading02 {
    font-size: var(--text-8xl-font-size);
  }

  .container_text__content {
    max-width: 50ch;
  }
}

@media (max-width: 902px) {
  .section_about__container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .container_text__heading01 {
    font-size: var(--text-6xl-font-size);
    margin-bottom: -1.4rem;
  }

  .container_text__heading02 {
    font-size: var(--text-7xl-font-size);
  }

  .section_about__container_image {
    width: 18.75rem;
    height: 18.75rem;
  }
}

@media (max-width: 640px) {
  .container_text__heading01 {
    font-size: var(--text-5xl-font-size);
    margin-bottom: -0.8rem;
  }

  .container_text__heading02 {
    font-size: var(--text-6xl-font-size);
  }

  .section_about__container_image {
    width: 15.625rem;
    height: 15.625rem;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}
