.menu_link {
  font-family: var(--font-poppins);
  color: rgba(185, 22, 70, 0.8);
  font-size: var(--text-base-font-size);
  line-height: var(--text-base-line-height);
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.menu_link:hover,
.menu_link:active {
  color: var(--pink-colour);
}
