@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/brittany-signature");

:root {
  --font-brittany-signature: "Brittany Signature", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --main-background-colour: #fbf3e4;
  --black-colour: #000;
  --pink-colour: #b91646;
  --gris-nicosie-colour: #dfd8ca;
  --dark-cyan-colour: #105652;

  --text-xs-font-size: 0.75rem;
  --text-xs-line-height: 1rem;
  --text-sm-font-size: 0.875rem;
  --text-sm-line-height: 1.25rem;
  --text-base-font-size: 1rem;
  --text-base-line-height: 1.5rem;
  --text-lg-font-size: 1.125rem;
  --text-lg-line-height: 1.75rem;
  --text-xl-font-size: 1.25rem;
  --text-2xl-font-size: 1.5rem;
  --text-2xl-line-height: 2rem;
  --text-3xl-font-size: 1.875rem;
  --text-3xl-line-height: 2.25rem;
  --text-4xl-font-size: 2.25rem;
  --text-4xl-line-height: 2.5rem;
  --text-5xl-font-size: 3rem;
  --text-5xl-line-height: 1;
  --text-6xl-font-size: 3.75rem;
  --text-7xl-font-size: 4.5rem;
  --text-8xl-font-size: 6rem;
  --text-9xl-font-size: 8rem;
  --text-10xl-font-size: 10rem;
  --text-11xl-font-size: 12rem;
  --text-12xl-font-size: 14rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background-colour);
  color: var(--black-colour);
}
