.section_button {
  text-decoration: none;
  font-family: var(--font-bebas-neue);
  border-radius: 10px;
  padding: 0.5em 2em;
  font-size: var(--text-3xl-font-size);
  line-height: var(--text-3xl-line-height);
  letter-spacing: 0.05em;
  color: var(--gris-nicosie-colour);
  background-color: var(--dark-cyan-colour);
}

@media (max-width: 1024px) {
  .csection_button {
    font-size: var(--text-2xl-font-size);
    line-height: var(--text-2xl-line-height);
  }
}

@media (max-width: 768px) {
  .csection_button {
    font-size: var(--text-xl-font-size);
    line-height: var(--text-lg-line-height);
  }
}

@media (max-width: 640px) {
  .csection_button {
    font-size: var(--text-lg-font-size);
  }
}
